#include <stdio.h>
#include <stdlib.h>

int main()
{
    int sk,a=0,b=0,d=0,e=0;

    int cnt_a=1,cnt_b=1;

printf ("Parasykite skaiciu : ");
scanf("%d", &sk);

while (sk != 0){

    if (sk%10 != 0){
        a = a + (sk%10 * cnt_a);
        cnt_a *= 10;
    }
     if (sk%10==0){
        e++;
     }

     else if (sk%2==0){
        d++;
     }

    if (sk%2==0){
        b = b + (sk%10 * cnt_b);
        cnt_b *= 10;

    }

    sk = sk/10;
}
printf(" Skaicius be nuliu : %d \n Skaicius be nelyginiu : %d \n Nuliu skaicius : %d\n Lyginiu skaitmenu skaicius : %d ", a , b, e, d);
    return 0;
}

